#page-container {
    	width: 760px;
    	margin: auto;
}
#maincontent {
	width: 760px;
	margin: auto;
	text-align: center;
}
#header {
	background: black;
	height: 70px;
	text-align: center;
}
#sidenavbar {
  	float: left;
  	width: 230px;
  	border: 3px solid red;
}
#story {
  	margin-left: 236px;
    	border: 3px solid red;
}
