#page-container {
    	width: 760px;
    	margin: auto;
    	text-align: center;
}
#maincontent {
	width: 760px;
	margin: auto;
	text-align: center;
}
#header {
	background: black;
	height: 70px;
	text-align: center;
}
#sidenavbar {
  	float: left;
  	width: 20%;
  	text-align: left;
}
#story {
  	float: right ;
  	width: 80% ;
  	text-align: center;
}
