#page-container {
    	width: 760px;
    	margin: auto;
}
#maincontent {
	width: 760px;
	margin: auto;
}
#header {
	background: blue;
	height: 150px;
}
#sidenavbar {
  	float: left;
  	width: 20%;
}
#story {
  	float: right ;
  	width: 80% ;
}
